# # Email Configuration (Gmail example)
# # Enable 2FA on your Google account, then generate an App Password:
# # https://myaccount.google.com/apppasswords
# EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
# EMAIL_HOST=smtp.gmail.com
# EMAIL_PORT=587
# EMAIL_USE_TLS=True
# EMAIL_HOST_USER=your-email@gmail.com
# EMAIL_HOST_PASSWORD=your-app-password
# DEFAULT_FROM_EMAIL=your-email@gmail.com

# # MD email for trainer registration notifications
# MD_EMAIL=md@nysc.gov.ng

# # Frontend URL for email verification links
# FRONTEND_URL=http://localhost:3001

# # Paystack
# PAYSTACK_SECRET_KEY=sk_test_your_secret_key_here




# v2
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=

DATABASE_ENGINE=django.db.backends.sqlite3
SQLITE_NAME=db.sqlite3

DJANGO_ALLOWED_HOSTS=

CORS_ALLOWED_ORIGINS=
CSRF_TRUSTED_ORIGINS=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

MD_EMAIL=

FRONTEND_URL=

PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=